@tailwind base;
@tailwind components;

.buttons {
  background-color: blue;
  border: 0;
  outline: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: inset 0 0 5px blue;
}

.buttons:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.bgImage {
  position: relative;
}

.bgImage::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: url("../app/images/background.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: 0.6;
}

@tailwind utilities;
