@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* width: 1920px; */
  /* height: 950px; */
  background-color: black;
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
