* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: rgb(173, 216, 230);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 50px;
  /* my edition */
  min-height: 100%;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 35px rgba(0, 0, 0, 0.1);
}

.left-side {
  position: relative;
  background: rgb(83, 82, 114);
  padding: 4rem;
}

.profile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

.profile .image {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.profile .image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* for making image fit in  */
  object-fit: cover/contain;
}

.profile .name {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.5rem;
  margin-top: 20px;
  font-weight: 500;
  line-height: 1.4;
}

.profile .name span {
  display: block;
  font-size: 0.9rem;
  font-weight: 300;
}

.contact-info {
  padding-top: 30px;
  margin-bottom: 20px;
}

.contact-info .title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.contact-info ul {
  position: relative;
}

.contact-info ul li {
  position: relative;
  list-style: none;
  font-size: 12px;
  margin: 10px 0;
  cursor: pointer;
  color: #fff;
  width: fit-content;
}

.contact-info ul li .icon {
  display: inline-block;
  width: 20px;
  font-size: 18px;
  color: red;
  margin-right: 20px;
}

.contact-info ul li span {
  columns: #fff;
  font-weight: 400;
  /* margin-right: 20px; */
}

.education .title {
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
}

.education li {
  margin-bottom: 20px;
  list-style: none;
}

.education h5 {
  color: blue;
}

.education h4 {
  color: #fff;
  font-weight: 500;
}

.languages .title {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.languages ul > li {
  list-style: none;
}

.languages .percent {
  position: relative;
  width: 100%;
  height: 6px;
  background-color: rgb(16, 8, 8);
  display: block;
  margin: 5px;
}

.percent div {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  background-color: blue;
}

.right-side {
  position: relative;
  background: #cac9de;
  padding: 50px 30px;
}

.right-side .profile2 {
  margin-bottom: 40px;
  /* background-color: aqua; */
}

.right-side .profile2:last-child {
  margin-bottom: 0px;
}

.right-side .title2 {
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 20px;
  letter-spacing: 3px;
  color: rgb(97, 145, 145);
  border-bottom: 2px solid black;
  width: max-content;
  font-size: 1.5rem;
  /* background-color: aqua; */
}

.profile2 .box {
  display: flex;
  flex-direction: row;
  /* gap: 15px; */
  margin: 20px 0;
  justify-content: start;
}

.year-company {
  min-width: 150px;
  text-transform: uppercase;
  color: rgb(158, 154, 145);
  font-weight: 500;
}

.box .text h4 {
  color: rgb(31, 29, 205);
}

.profile-skills .skill-box {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

/* .profile-skills .title2 {
  text-transform: uppercase;
  color: rgb(97, 145, 145);
  font-weight: 900;
} */

.profile-skills .skill-box .skill-percent {
  position: relative;
  /* position: absolute; */
  width: 100%;
  height: 10px;
  background: rgb(10, 10, 10);
}

.profile-skills .skill-box .skill-percent .my-expertise {
  height: 100%;
  position: absolute;
  /* position: relative; */
  top: 0;
  left: 0;
  background-color: blue;
}

/* .profile-skills .skill-box:last-child {
  margin-bottom: 20px;
} */

.profile-intrest ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.profile-intrest ul li {
  list-style: none;
  font-weight: 600;
  margin: 10px 0;
}

@media (max-width: 1000px) {
  /* body {
    background-color: red;
  } */
   
  .container {
    margin: 10px;
    grid-template-columns: repeat(1, 1fr);
  }

  .profile-intrest ul {
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }
}
